<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzx.hsapp.dao.SysDictionaryMapper">
  <resultMap id="BaseResultMap" type="com.lzx.hsapp.entity.SysDictionary">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="INTEGER" property="code" />
    <result column="codeflag" jdbcType="INTEGER" property="codeflag" />
    <result column="codeflagname" jdbcType="VARCHAR" property="codeflagname" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_dictionary
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lzx.hsapp.entity.SysDictionary">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_dictionary (id, code, codeflag, 
      codeflagname)
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=INTEGER}, #{codeflag,jdbcType=INTEGER}, 
      #{codeflagname,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.lzx.hsapp.entity.SysDictionary">
    update sys_dictionary
    set code = #{code,jdbcType=INTEGER},
      codeflag = #{codeflag,jdbcType=INTEGER},
      codeflagname = #{codeflagname,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, code, codeflag, codeflagname
    from sys_dictionary
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" parameterType="com.lzx.hsapp.entity.SysDictionary" resultMap="BaseResultMap">
    select id, code, codeflag, codeflagname
    from sys_dictionary
    where 1=1
    <if test="code!=null and code!=''">
      and code=#{code}
    </if>
  </select>
</mapper>